* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primaryGreen: #0b4619;
  --secondaryGreen: #116530;
  --thirdGreen: #116530fb;
  --yellow: #ffcc1d;
  --hoverYellow: #ffc400;
  --beige: #e8e8cc;
  --white: white;
  --black: black;
  --red: #ff003c;
  --blue: #4f79c1;
  --darkGray: #333333;
  --lightGray: rgb(0, 0, 0, 0.87);
}
