.form {
  display: flex;
  float: right;
  width: 40vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login {
  background-color: var(--beige);
  width: 90%;
  height: 80vh;
  border-radius: 25px;
  box-shadow: 10px 10px #122c12;
}

.footer {
  display: block;
  color: var(--white);
  text-align: center;
  margin-top: 20px;
}

.a {
  font-weight: bold;
}

.a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login h2 {
  color: var(--primaryGreen);
  text-transform: uppercase;
  margin: 0;
}

.divider {
  display: flex;
  content: '';
  flex: 1;
  width: 255px;
  color: var(--lightGray);
  font-size: 0.95rem;
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
}
.line {
  align-items: center;
  margin: 1em -1em;
}
.line:before,
.line:after {
  height: 1px;
  margin: 0 1em;
}
.razor:before,
.razor:after {
  box-shadow: 0 0.35px 0 var(--lightGray);
}

@media (max-width: 600px) {
  .form {
    width: 100vw;
  }
  .login {
    width: 98%;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .form {
    width: 50vw;
  }
}
@media (min-width: 1200px) {
  .login {
    width: 70%;
  }
}
