#box {
  background-color: var(--beige);
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: flex-start;
  padding: 10px 30px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  #box {
    width: 95vw;
  }
}
